@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner:wght@700&family=Yanone+Kaffeesatz&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Edu TAS Beginner', cursive;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

body::-webkit-scrollbar{
    width: 10px;
    height: 50px;
}
body::-webkit-scrollbar-track{
    background-color: darkgray;
}
body::-webkit-scrollbar-thumb{
    background-color: #FF4F03;
    border-radius: 8px;
}

.social-outer{
    width: 50px;
    height: 200px;
    display: flex;
    right: 0;
    bottom: 150px;
    background-color: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.social-inner-wrap{

    width: 100%;
    flex: 1;
    position: relative;
    cursor: pointer;
}

.slide-context{
    width: 150px;
    background-color: white;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;


}

.social-logo{
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 1;
    background-color: white;


}

.social-logo:hover{
    background-color: #FF4F03;
    color: white;
}

.social-inner-wrap:hover>.slide-context{
    right: 49px;

}
.main-slider-outer{
    width: 100%;
    height: 100vh;
   background-image: url("back.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.nav-outer{
    background-color: #0F172B;
    height: 70px;
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.logo-outer{
    width: 200px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar-content{

    flex: 1;
}

.logo-outer > img{
    height: 50px;
}

.nav-bar-content{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav{
    list-style: none;
    display: flex;
}

.nav > li >span>a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.nav > li{

    border-right: 1px solid white;
    padding: 0 25px;
    transition: 1s ease-in-out;

}

.nav>li:last-child{
    border-right:0;
}

.nav > li:hover{
    cursor: pointer;
    border-bottom: 2px solid white;
}

.nav>li:hover>span>a{
    color: #FF4F03;
}

.book-button{
    background: none;
    color: white;
    border: 1px solid #FF4F03;
    margin: 0 20px;
    padding: 9px 30px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 6px;
}

.book-button:hover{
    background-color: #FF4F03;
    color: white;
    transition: 1s ease-in-out;
}

.search_wrapper{
    height: 60%;
    width: 500px;
    background-color: white;
    border-radius: 6px;
    display: flex;

}

.search-type{
    display: flex;
    width: 50px;
    height: 100%;
    background-color: darkgray;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    align-items: center;
    justify-content: center;
}

.search_wrapper>input[type=search]{
    flex: 1;
    background: none;
    border: none;
    padding: 0 20px;
}

.search_wrapper>input[type=search]:focus{
    outline: none;
}

.search-logo{
    background-color: #FF4F03;
    color: white;
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}
/*middle-tect-outer*/
.middle-text-outer{
    width: 100%;
    height: 120px;

    text-align: center;
    position: relative;
}

.Book-today-text{
    color: white;
    font-size: 50px;

}

.Week-end-text{
    color: white;
    font-size: 40px;
    font-weight: bold;
}

/*middle-tect-outer*/

/*widget-main-outer*/
.widget-main-outer{

    height: 60px;
    width: 100%;

    margin-top: 40px;
}

.widget-main-inner{
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;

}

.widget-component-wrapper:first-child{
    width: 40%;
}
.widget-component-wrapper{
    width: 20%;
    height: 100%;

    display: flex;

}

.widget-component-wrapper>input[type=date] {
    flex: 1;
    padding: 0 20px;
    font-size: 15px;
}
.widget-component-wrapper>input[type=date]:focus{
    outline: none;
}

.widget-component-wrapper>select{
    flex: 1;
    padding: 0 20px;
    font-size: 15px;
}

.widget-component-wrapper>select:focus{
    outline: none;
}

.widget-component-wrapper>input[type=submit]{
    flex: 1;
    background-color: #FF4F03;
    color: white;
    cursor: pointer;
    outline: none;
}
.widget-component-wrapper>input[type=submit]:hover{

    background-color: #0F172B;
    color: white;

}

/*widget-main-outer*/

